ion-item {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --min-height: 0;
}

ion-label {
  margin: 0;
}

ion-button {
  margin-inline-start: 4px;
}
