<ion-card>
  <ion-img [src]="clip.dataURI"></ion-img>
  <ion-card-header>
    <ion-item lines="none">
      <ion-label>
        <p>
          {{ clip.dateFromNow }}
        </p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        shape="round"
        [color]="clip.category === 'starred' ? 'primary' : 'tertiary'"
        (click)="onAddToBookmarkClick($event)"
      >
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        fill="clear"
        shape="round"
        [color]="'tertiary'"
        (click)="onRemoveClick($event)"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>
</ion-card>
