<ion-content class="light-theme">
  <!-- Header -->
  <div class="container flex-start space-evenly flex-wrap header">
    <div class="container column justify-content align-items center">
      <h1>A seamless clipboard</h1>
      <h4>
        Infiniti Clips is a free, open source hybrid clipboard application
        available for Windows and macOS.
      </h4>
      <div class="container">
        <ion-item lines="none">
          <ion-icon name="logo-windows"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-item>
      </div>

      <div class="container flex-wrap space-evenly">
        <button mat-raised-button color="primary">
          Dowload for Windows (64Bit)
        </button>
        <button mat-raised-button>Dowload for Mac</button>
      </div>
      <p>Version 0.0.1β</p>

      <h4>
        Powered by Angular.
      </h4>
      <div class="container">
        <ion-item lines="none">
          <ion-icon name="logo-angular"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div>
      <img src="assets/images/app-main.png" />
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="divider"></div>

  <!-- Content -->
  <div class="container content column justify-content align-items center">
    <div class="container item">
      <div>
        <h2>Landscape Mode</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div><img src="assets/images/app-landscape.png" /></div>
    </div>

    <div class="container item">
      <div>
        <h2>Landscape Mode</h2>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
      <div><img src="assets/images/app-landscape.png" /></div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <mat-toolbar>
      <img src="assets/icon/infiniti-opensource.svg" />
    </mat-toolbar>
    <mat-toolbar>
      <p>Released under MIT License | Copyright @ 2019</p>
      <span class="spacer"></span>
      <p>About</p>
    </mat-toolbar>
  </div>
</ion-content>
