.container {
  position: relative;
  display: flex;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.justify-content.center {
  justify-content: center;
}
.align-items.center {
  align-items: center;
}

//  Header
.header {
  padding: 3vw 6vw 0 6vw;
  min-height: 540px;
  h1 {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--ion-color-tertiary);
    text-align: center;
  }
  h4 {
    line-height: 1.2;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 30px;
    color: var(--text-color--extra-light);
    text-align: center;
    max-width: 50vw;
  }
  p {
    font-weight: 300;
    color: var(--text-color--extra-light);
    font-size: 0.7rem;
  }
  button {
    margin: 50px 10px 15px 10px;
    min-width: 240px;
    min-height: 60px;
  }
  div:last-child {
    padding: 2vw;
    img {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.07);
      width: 380px;
      height: auto;
      border-radius: 10px;
    }
  }
}

// Content
.content {
  .item {
    width: 100%;
    padding: 50px;
    div {
      min-width: 600px;
      flex: 1 1 0;
      padding: 50px;
      max-width: 30%;
    }
  }
  .item:nth-child(odd) {
    background-color: rgba(248, 248, 248, 1);
  }
  h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--text-color--light);
    text-align: center;
  }
  p {
    font-weight: 300;
    color: var(--text-color--extra-light);
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
  }
  img {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.07);
    width: 600px;
    height: auto;
    border-radius: 10px;
  }
}

.share {
  div:first-child {
    p {
      padding: 5px;
      border-top: 1px solid var(--line-rule-color);
      width: 70%;
      font-weight: 500;
      color: var(--text-color--extra-light);
      line-height: 1.2;
      font-size: 0.8rem;
      text-align: center;
      user-select: none;
    }
  }
  padding: 20px;
}

// Footer
.footer {
  p {
    color: var(--text-color--extra-light);
    font-size: 0.7rem;
  }
  img {
    width: 160px;
  }
}

// General
.spacer {
  flex: 1 1 auto;
}

ion-item {
  --background: transparent;
}
ion-icon {
  font-size: 36px;
}
