<ion-content class="light-theme">
  <!-- Content -->
  <div class="container content justify-content align-items column center">
    <div class="container item">
      <div><img src="assets/images/app-landscape.png" /></div>
      <div>
        <h2>
          Search from your history
        </h2>
        <p>Browse, search, bookmark, and more...</p>
      </div>
    </div>
    <div class="container item">
      <div>
        <h2>Landscape Mode</h2>
        <p>
          Go deeper into everything you look with landscape mode. Place the app
          in your favorite position of the desktop.
        </p>
      </div>
      <div><img src="assets/images/app-images.png" /></div>
    </div>
  </div>

  <!-- Share -->
  <div class="container justify-content center column share">
    <div class="container justify-content center">
      <p><span>share</span> infiniti clips</p>
    </div>
    <div class="container justify-content center">
      <share-button button="facebook" theme="circles-light"></share-button>
      <share-button button="twitter" theme="circles-light"></share-button>
      <share-button button="linkedin" theme="circles-light"></share-button>
      <share-button button="line" theme="circles-light"></share-button>
    </div>
  </div>

  <app-footer-component></app-footer-component>
</ion-content>
