ion-card {
  /deep/.editor-container {
    min-height: 2.5rem;

    /** For Quill JS*/
    /deep/pre {
      font-family: 'Roboto Mono', monospace;
    }
    /deep/.ql-editor pre.ql-syntax {
      color: rgba(255, 255, 255, 0.9) !important;
      background-color: rgba(41, 45, 62, 1) !important;
    }

    /deep/.ql-editor {
      padding: 0 !important;
    }

    /deep/.ql-tooltip,
    /deep/.ql-picker-options {
      background-color: var(--ion-color-medium);
    }

    /deep/.ql-tooltip-arrow {
      border-bottom-color: var(--ion-color-medium);
    }
  }
}

ion-card {
  ion-card-header {
    ion-input {
      --padding-start: 0;
      --padding-left: 0;
      --color: var(--text-color--light);
      font-size: 1rem;
      font-weight: 700;
    }
  }
  ion-card-content {
    z-index: 11;
    p {
      text-align: right;
      color: var(--text-color--extra-light);
      font-size: 0.74rem;
    }
  }
  ion-toolbar {
    ion-input {
      --color: rgba(190, 200, 205, 1);
      font-size: 0.7rem;
      font-weight: 500;
      max-width: 128px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  ion-label {
    p {
      text-align: right;
    }
  }

  ion-button {
    span {
      font-size: 0.7rem;
      font-weight: 600;
    }
    .label {
      font-size: 0.66rem;
      font-weight: 500;
      color: var(--text-color--extra-light);
    }
  }
}
