.DS_Store
node_modules
/dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

# Due to webpack __dirname has a different path, (electron-push-receiver)
/public/android_checkin.proto
/public/checkin.proto
/public/mcs.proto