service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /windows-installer/{allPaths=**} {
    	allow read;
    }
  }
}
