ion-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --inner-padding-end: 0;
}

ion-label {
  margin-bottom: 6px;
}

ion-item:hover {
  --ion-background-color: rgba(248, 248, 252, 0.9);
}

.container {
  display: flex;
  justify-content: space-between;
  .content.start {
    flex: 1 1 auto;
    min-width: 0;
    div {
      display: flex;
      max-height: 64px;
      /deep/div,
      img,
      h3 {
        border-radius: 5px;
      }
      img {
        object-fit: none;
      }
    }
    h3,
    p {
      color: var(--text-color--light);
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h3 {
      font-size: 0.76rem;
      color: var(--text-color--light);
    }
    p {
      color: var(--text-color--extra-light);
      font-size: 0.74rem;
    }
  }
  .content.end {
    ion-button {
      margin: 0;
      --padding-start: 4px;
      --padding-end: 4px;
    }
  }
}
ion-button {
  margin-inline-end: 8px;
}

ion-avatar.container.start {
  width: 36px;
  height: 36px;
  .doc {
    position: relative;
    .badge {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 8px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 0.6rem;
    }
    .globe,
    .image {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 20px;
      left: 18px;
      color: var(--text-color--light);
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 0.6rem;
    }
  }
}

ion-button.remove {
  height: 27.3px;
}

ion-icon {
  width: 21px;
  height: 21px;
}
ion-icon[name='document'] {
  width: 2rem;
  height: 2rem;
  color: var(--ion-color-tertiary);
}
ion-icon[name='logo-html5'] {
  width: 20px;
  height: 20px;
}

.material-icons {
  &.translate {
    font-size: 22px;
    margin-top: 2px;
  }
  &.text-format {
    font-size: 24px;
    margin-top: 2px;
  }
}
