ion-item {
  --padding-start: 0;
  --padding-end: 8px;
  --inner-padding-end: 0;
}

ion-label {
  margin-bottom: 6px;
}

ion-item:hover {
  --background: rgba(248, 248, 252, 1);
}

h3,
p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  color: var(--text-color--dark);
  border-radius: 3px;
  max-height: 60px;
}
p {
  color: var(--text-color--light);
  font-size: 0.8rem;
}

ion-button {
  margin-inline-end: 8px;
}

ion-button.container.start {
  width: 36px;
  height: 36px;
  .doc {
    position: relative;
    .badge {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 8px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 0.6rem;
    }
    .logo-html5 {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 20px;
      left: 18px;
      color: var(--ion-color-secondary);
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 0.6rem;
    }
  }
}

ion-button.remove {
  color: var(--text-color--light);
  font-size: 0.7rem;
  margin-top: 15px;
}

.container.bottom {
  justify-content: space-between;
  display: flex;
  ion-button {
    margin: 0;
    --padding-start: 4px;
    --padding-end: 4px;
  }
}

ion-icon[name='document'] {
  width: 2rem;
  height: 2rem;
  color: var(--ion-color-tertiary-tint);
}

.material-icons {
  margin-top: 3px;
  font-size: 22px;
}
