<ion-item
  (click)="onClick($event)"
  button="true"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
>
  <ion-button
    class="container start"
    slot="start"
    fill="clear"
    [title]="index + 1"
  >
    <div class="doc">
      <div class="badge">
        <span>{{ index + 1 > 99 ? '...' : index + 1 }}</span>
      </div>
      <div *ngIf="clip.htmlText" class="logo-html5">
        <ion-icon name="logo-html5"></ion-icon>
      </div>
      <ion-icon slot="icon-only" name="document"></ion-icon>
    </div>
  </ion-button>
  <ion-label>
    <h3
      [innerHTML]="
        clip.isHtmlView
          ? (clip.htmlText | sanitizeHtml)
          : '<span>' + clip.plainText + '</span>'
      "
      [title]="clip.plainText"
    ></h3>
    <p>{{ clip.fromNow }}</p>
    <div class="container bottom">
      <div>
        <ion-button fill="clear" shape="round" color="medium">
          <ion-icon name="globe"></ion-icon>
        </ion-button>
        <ion-button *ngIf="false" fill="clear" shape="round" color="medium">
          <ion-icon name="share"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          shape="round"
          [color]="clip.isHtmlView ? 'secondary' : 'medium'"
        >
          <ion-icon *ngIf="clip.isHtmlView" name="logo-html5"></ion-icon>
          <i *ngIf="!clip.isHtmlView" class="material-icons">text_format</i>
        </ion-button>
        <ion-button fill="clear" shape="round" color="medium">
          <i class="material-icons">translate</i>
        </ion-button>
        <ion-button
          fill="clear"
          shape="round"
          [color]="clip.isHtmlView ? 'secondary' : 'medium'"
        >
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="hasMouseEntered">
        <ion-button class="remove" fill="clear" shape="round">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-label>
</ion-item>
