<ion-item
  (click)="onClick($event)"
  button="true"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
>
  <ion-button
    class="container start"
    slot="start"
    fill="clear"
    [title]="index + 1"
  >
    <div class="doc">
      <div class="badge">
        <span>{{ index + 1 > 99 ? '...' : index + 1 }}</span>
      </div>
      <div *ngIf="clip.htmlText" class="logo-html5">
        <ion-icon name="logo-html5"></ion-icon>
      </div>
      <ion-icon slot="icon-only" name="document"></ion-icon>
    </div>
  </ion-button>
  <ion-label>
    <h3
      *ngIf="currentView === 'htmlView'"
      [innerHTML]="clip.htmlView | sanitizeHtml"
      [title]="clip.plainText"
    ></h3>
    <h3 *ngIf="currentView === 'plainView'">
      {{ clip.plainView }}
    </h3>
    <p>{{ clip.translationView }}</p>
    <p>{{ clip.dateFromNow }}</p>
    <div class="container bottom">
      <div>
        <ion-button fill="clear" shape="round" color="medium">
          <ion-icon name="globe"></ion-icon>
        </ion-button>
        <ion-button *ngIf="false" fill="clear" shape="round" color="medium">
          <ion-icon name="share"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          shape="round"
          [color]="currentView === 'plain' ? 'medium' : 'secondary'"
          [disabled]="!hasHtmlView"
          (click)="invertCurrentView($event)"
        >
          <ion-icon name="logo-html5"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          shape="round"
          color="medium"
          (click)="onTranslate($event)"
        >
          <i class="material-icons">translate</i>
        </ion-button>
        <ion-button
          fill="clear"
          shape="round"
          [color]="clip.starred ? 'secondary' : 'medium'"
          (click)="onAddToBookmarkClick($event)"
        >
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="hasMouseEntered">
        <ion-button
          class="remove"
          fill="clear"
          shape="round"
          color="medium"
          (click)="onRemoveClick($event)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-label>
</ion-item>
