<ion-content>
  <ion-card>
    <ion-card-content *ngIf="googleOAuth2Service.isAuthenticated">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/clip.svg" />
        </ion-avatar>
        <ion-label>
          <h4>Iam Google</h4>
          <p>iam@google.com</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="!googleOAuth2Service.isAuthenticated">
        <ion-label
          ><p>
            Sign-in with Google
          </p>
        </ion-label>
        <ion-button fill="clear" (click)="signIn()" slot="end">
          <span>Sign-in</span>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="googleOAuth2Service.isAuthenticated">
        <ion-label
          ><p>
            Sign-out from Google
          </p>
        </ion-label>
        <ion-button fill="clear" (click)="signOut()" slot="end">
          <span>Sign-out</span>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Google Drive</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Toggles in a List -->
      <ion-list>
        <ion-item>
          <ion-label
            ><p>
              Sync with Google Drive
            </p>
          </ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
