.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0px;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  // background: var(--ion-color-tertiary);

  .mat-divider,
  &.mat-drawer-side {
    border-color: var(--line-rule-color);
    border-right: solid 1px var(--line-rule-color);
  }

  h3 {
    color: var(--ion-color-tertiary);
    font-size: 0.9rem;
    font-weight: 700;
  }
  a,
  p {
    font-size: 0.8rem;
    color: var(--text-color--light);
  }

  .selected {
    mat-icon,
    a {
      color: var(--ion-color-primary);
    }
    background-color: var(--ion-color-primary-contrast);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.mat-list-icon {
  color: var(--ion-color-tertiary);
}
