.container {
  position: relative;
  display: flex;
}
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
  }
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // box-shadow: 0px -1px 0px red inset;
  border-bottom: 1px solid var(--line-rule-color);
  h4 {
    color: var(--ion-color-tertiary);
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2px 4px 2px 4px;
  }
  a,
  p {
    font-size: 0.8rem;
    color: var(--text-color--light);
  }
  img {
    width: 35px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    filter: brightness(0.65) hue-rotate(0deg) saturate(0.35);
  }
  // General
  .spacer {
    flex: 1 1 auto;
  }
  .icon {
    margin: 0 8px;
  }
}

.content {
  width: 100%;
}

.container.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 57px;
  @media (min-width: 600px) {
    top: 65px;
  }
  bottom: 0px;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  // background: var(--ion-color-tertiary);

  h4 {
    color: var(--ion-color-tertiary);
    font-size: 0.9rem;
    font-weight: 700;
  }
  a,
  p {
    font-size: 0.8rem;
    color: var(--text-color--light);
  }

  .mat-divider,
  &.mat-drawer-side {
    border-color: var(--line-rule-color);
    border-right: solid 1px var(--line-rule-color);
  }

  .selected {
    mat-icon,
    a {
      color: var(--ion-color-primary);
    }
    background-color: var(--ion-color-light-extra-blue);
  }
}

.mat-list-icon {
  color: var(--ion-color-tertiary);
}
