<div class="light-theme">
  <mat-toolbar class="header draggable">
    <mat-toolbar-row>
      <img src="assets/icon/clip.svg" />
      <h4>Infiniti CLIPS</h4>
      <span class="spacer"></span>
      <button mat-icon-button (click)="navigateRoot('clipboard/history')">
        <mat-icon class="icon">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-container>
    <mat-sidenav-container class="container content">
      <mat-sidenav
        #sidenav
        mode="side"
        opened
        class="sidenav"
        [fixedInViewport]="options.value.fixed"
        [fixedTopGap]="options.value.top"
        [fixedBottomGap]="options.value.bottom"
      >
        <mat-nav-list>
          <h3 mat-subheader>IAM</h3>
          <mat-list-item class="selected" *ngFor="let section of iam">
            <mat-icon matListIcon>{{ section.icon }}</mat-icon>
            <a matLine routerLink="/preferences/iam">{{ section.name }}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>System</h3>
          <mat-list-item *ngFor="let section of system">
            <mat-icon mat-list-icon>{{ section.icon }}</mat-icon>
            <a matLine routerLink="/preferences/system">{{ section.name }}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content [formGroup]="options" class="content">
        <ion-router-outlet></ion-router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>
