.container {
  position: relative;
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}

.main {
  height: 100vh;
  // Sidenav
  .sidenav {
    width: 56px;
    border-right: 1px solid var(--ion-toolbar-border-color);
    .pages {
      padding-top: 5px;
    }
    .settings {
      padding-bottom: 15px;
    }
  }

  .sidenav-content {
    width: calc(100vw - 48px);
  }
}

// .header.header-md {
//   border: 1px solid var(--line-rule-color);
// }
