<ion-content class="light-theme">
  <div class="container main">
    <!-- Sidenav -->
    <div class="container sidenav column space-between">
      <!-- Pages -->
      <div class="container column pages">
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/history' ? 'primary' : 'tertiary'"
          (click)="navigate('clipboard/history')"
        >
          <ion-icon slot="icon-only" name="laptop"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/images' ? 'primary' : 'tertiary'"
          (click)="navigate('clipboard/images')"
        >
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/finder' ? 'primary' : 'tertiary'"
          (click)="navigate('clipboard/finder')"
        >
          <ion-icon slot="icon-only" name="browsers"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="
            router.url === '/clipboard/bookmark' ? 'primary' : 'tertiary'
          "
          (click)="navigate('clipboard/bookmark')"
        >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </div>

      <!-- Settings -->
      <div class="container column settings">
        <ion-button fill="clear" color="tertiary">
          <ion-spinner
            *ngIf="(isLoading | async)"
            class="spinner"
            name="lines"
            color="tertiary"
          ></ion-spinner>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/preferences/iam' ? 'primary' : 'tertiary'"
          (click)="navigate('/preferences/iam')"
        >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- Content -->
    <div class="sidenav-content">
      <!-- ion-router-outlet doesn't work correctly 2019-03-01 -->
      <router-outlet> </router-outlet>
    </div>
  </div>
</ion-content>
