<ion-header
  *ngIf="!generalSettings.hideTitleBar"
  class="header draggable"
  no-border
>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/clip.svg" />
      <span>Infiniti CLIPS</span>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="(isLoading | async)" color="tertiary">
        <ion-spinner
          class="spinner"
          name="lines-small"
          color="tertiary"
        ></ion-spinner>
      </ion-button>
      <ion-button color="tertiary">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
      <ion-button
        (click)="navigateForward('/preferences/iam')"
        color="tertiary"
      >
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="light-theme">
  <div
    class="container main"
    [ngClass]="!generalSettings.hideTitleBar ? 'header-active' : ''"
  >
    <!-- Sidenav -->
    <div
      class="container sidenav column space-between"
      [ngClass]="generalSettings.hideTitleBar ? 'draggable' : ''"
    >
      <!-- Pages -->
      <div class="container column pages">
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/history' ? 'primary' : 'tertiary'"
          (click)="navigateForward('clipboard/history')"
        >
          <ion-icon slot="icon-only" name="laptop"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/images' ? 'primary' : 'tertiary'"
          (click)="navigateForward('clipboard/images')"
        >
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/clipboard/finder' ? 'primary' : 'tertiary'"
          (click)="navigateForward('clipboard/finder')"
        >
          <ion-icon slot="icon-only" name="browsers"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="
            router.url === '/clipboard/bookmark' ? 'primary' : 'tertiary'
          "
          (click)="navigateForward('clipboard/bookmark')"
        >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </div>

      <!-- Settings -->
      <div
        *ngIf="generalSettings.hideTitleBar"
        class="container column settings"
      >
        <ion-button *ngIf="(isLoading | async)" fill="clear" color="tertiary">
          <ion-spinner
            class="spinner"
            name="lines"
            color="tertiary"
          ></ion-spinner>
        </ion-button>
        <ion-button
          fill="clear"
          [color]="router.url === '/preferences/iam' ? 'primary' : 'tertiary'"
          (click)="navigateRoot('/preferences/iam')"
        >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- Content -->
    <div class="sidenav-content container">
      <ion-router-outlet> </ion-router-outlet>
    </div>
  </div>
</ion-content>
