<ion-content>
  <ion-tabs>
    <div>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="history">
          <ion-icon name="laptop"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="history1">
          <ion-icon name="image"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="history2">
          <ion-icon name="browsers"></ion-icon>
        </ion-tab-button>

        <!-- share icon -->

        <ion-tab-button tab="history">
          <ion-icon name="search"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="history">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
  </ion-tabs>
</ion-content>
