.nav-bar {
  color: var(--ion-color-tertiary);
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2px;
  box-shadow: 0 0 3px 0px rgba(0, 5, 35, 0.09);
  h2 {
    font-weight: 700;
    margin-right: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--ion-color-tertiary);
  }
  img {
    // filter: brightness(2.5) hue-rotate(-10deg) saturate(0.5);
    width: 54px;
  }

  .github {
    color: var(--text-color--light);
    font-size: 0.8rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.container.router {
  position: relative;

  @media only screen and (max-width: 599px) {
    height: calc(100% - 56px);
  }
  @media only screen and (min-width: 600px) {
    height: calc(100% - 66px);
  }
}
