<ion-content class="container">
  <!-- Header -->
  <div class="light-theme">
    <mat-toolbar class="nav-bar">
      <img src="assets/icon/clip.svg" />
      <span> <h2>Infiniti Clips</h2></span>
      <button mat-button disabled>News</button>
      <button mat-button color="primary">Features</button>
      <button mat-button disabled>About</button>
      <!-- This fills the remaining space of the current row -->
      <span class="spacer"></span>
      <a
        mat-button
        target="_blank"
        href="https://github.com/azure06/xClipboard"
        class="github"
        >GitHub</a
      >
    </mat-toolbar>
  </div>

  <!-- Router Outlet -->
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</ion-content>
