<ion-content class="container">
  <!-- Header -->
  <div class="light-theme">
    <mat-toolbar class="nav-bar">
      <img src="assets/icon/clip.svg" />
      <span> <h2>Infiniti Clips</h2></span>
      <button
        mat-button
        [color]="router.url === '/features' ? 'primary' : ''"
        (click)="navigate('features')"
      >
        Features
      </button>
      <button
        mat-button
        [color]="router.url === '/contact' ? 'primary' : ''"
        (click)="navigate('contact')"
      >
        Contact
      </button>
      <button mat-button disabled>About</button>
      <!-- This fills the remaining space of the current row -->
      <span class="spacer"></span>
      <a
        mat-button
        target="_blank"
        href="https://github.com/azure06/infiniti-clips"
        class="github"
        >GitHub</a
      >
    </mat-toolbar>
  </div>

  <div class="container router">
    <ion-router-outlet (activate)="onActivate($event)"></ion-router-outlet>
  </div>
</ion-content>
