.nav-bar {
  color: var(--ion-color-tertiary);
  background-color: white;
  box-shadow: 0 0 3px 0px rgba(0, 5, 25, 0.09);
  h2 {
    padding: 10px;
    font-weight: 900;
    margin-right: 15px;
    font-size: 1.05rem;
    text-transform: uppercase;
    color: var(--ion-color-tertiary);
  }
  img {
    width: 54px;
  }

  .github {
    color: var(--text-color--light);
    font-size: 0.8rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.container/deep/ion-content {
  height: calc(100% - 64px);
}
