.nav-bar {
  color: var(--ion-color-tertiary);
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1px; // border
  button {
    display: none;
  }
  h2 {
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #565b70;
  }
  img {
    filter: brightness(1.0) hue-rotate(0deg) saturate(0.15);
    width: 48px;
  }

  button.home-btn {
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    @media only screen and (max-width: 720px) {
      display: flex;
    }
  }

  .github {
    color: var(--text-color--light);
    font-size: 0.8rem;
  }

  @media only screen and (min-width: 721px) {
    box-shadow: 0 0 3px 0px rgba(0, 5, 35, 0.09);
    button {
      display: inline;
    }
  }
  &.show-small {
    display: none;
    @media only screen and (max-width: 720px) {
      display: flex;
    }
    button {
      display: inline;
      flex: 1 1 0;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.container.router {
  position: relative;

  @media only screen and (max-width: 599px) {
    height: calc(100% - 98px);
  }
  @media only screen and (min-width: 600px) and (max-width: 720px) {
    height: calc(100% - 106px);
  }
  @media only screen and (min-width: 721px) {
    height: calc(100% - 67px);
  }
}
