@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-black.woff2') format('woff2'),
    url('notosansjp-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-bold.woff2') format('woff2'),
    url('notosansjp-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-medium.woff2') format('woff2'),
    url('notosansjp-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-regular.woff2') format('woff2'),
    url('notosansjp-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-light.woff2') format('woff2'),
    url('notosansjp-light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('notosansjp-thin.woff2') format('woff2'),
    url('notosansjp-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
