<ion-content>
  <!-- Card -->
  <app-quill-card
    *ngFor="let quillCard of (quillCardsObservable | async); let i = index"
    [quillCard]="quillCard"
    (modifyQuillCard)="modifyQuillCard($event)"
    (removeQuillCard)="removeQuillCard($event)"
  ></app-quill-card>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton
      cancelButtonText="Custom Cancel"
    ></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button shape="round" color="medium" (click)="addQuillCard()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="medium" (click)="addQuillCard()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
