// http://ionicframework.com/docs/theming/
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~material-design-icons/iconfont/material-icons.css';

ion-item {
  --border-color: var(--line-rule-color);
}

ion-progress-bar {
  --background: rgba(220, 220, 225, 1);
  --buffer-background: rgba(248, 248, 248, 1);
  --progress-background: rgba(220, 220, 225, 1);
}

/** Angular Material */
@import '~@angular/material/theming';
@include mat-core();

$light-theme-primary: mat-palette($mat-blue, A400);
$light-theme-accent: mat-palette($mat-red, A400, A100, A200);
$light-theme-warn: mat-palette($mat-amber, A700);
$light-theme-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);

$dark-theme-primary: mat-palette($mat-blue);
$dark-theme-accent: mat-palette($mat-red, A400, A100, A200);
$dark-theme-warn: mat-palette($mat-amber);
$dark-theme-theme: mat-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn
);

.light-theme {
  @include angular-material-theme($light-theme-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme-theme);
}
