/deep/.searchbar-input.sc-ion-searchbar-md {
  background-color: rgba(248, 248, 248, 1);
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 5px;
}

/deep/.searchbar-input.sc-ion-searchbar-md:focus {
  border: 2px solid rgba(150, 190, 255, 0.87);
  border-radius: 5px;
}

/deep/ .searchbar-input.sc-ion-searchbar-md {
  height: 30px;
}

ion-searchbar {
  /deep/ ion-icon {
    left: 16px;
    top: 6px !important;
    width: 21px;
    height: 21px;
  }
}

ion-progress-bar {
  --background: rgba(220, 220, 225, 1);
  --buffer-background: rgba(248, 248, 248, 1);
  --progress-background: rgba(220, 220, 225, 1);
}

ion-content {
  height: calc(100% - 58px);
}
